<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/homeStyle.css">
</head>
<body>
    <footer>
        <ul>
            <li><a href="/ridify">&copy;2020 Ridify&#174; Tech Ltd</a></li>
            <li><a href="/privacy" class="footer-right">Privacy&trade;</a></li>
            <li><a href="/terms" class="footer-right">Terms & Conditions</a></li>
            <li><a href="" class="footer-socials">twitter</a></li>
            <li><a href="" class="footer-socials">facebook</a></li>
            <li><a href="/ridify" class="footer-socials">About Ridify&reg;</a></li>
        </ul>
    </footer>
</body>
</html>