<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ridify | About Us </title>
    <link rel="stylesheet" href="/assets/homeStyle.css">
</head>
<body>
    <h1>About Us</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste, quod, ipsam eligendi vel accusantium sapiente magni modi error repellendus architecto aut quam soluta eum ipsum reiciendis voluptate ab, atque alias.
    Hic inventore, amet aspernatur, aliquam vero iure accusamus impedit temporibus rerum, aperiam voluptas ut tempore necessitatibus sit dolor molestias perferendis fugiat ab numquam id placeat saepe! Dolores et molestias voluptate.
    Eius harum officiis cumque! Asperiores ipsa dolor illum necessitatibus. Numquam repellendus adipisci alias dicta placeat explicabo inventore magnam! Eius, veniam omnis reprehenderit consectetur facilis dolorum! Animi minus odio neque inventore?
    Libero aperiam nemo doloremque porro iste consequuntur at ducimus eaque sunt voluptatum quos alias nisi ab facere, ut velit vitae tenetur assumenda ea! Corrupti quaerat, excepturi aperiam pariatur veniam labore.
    Fugiat, magni iste quis ipsa ducimus cum totam quas corporis quos omnis soluta vero, optio commodi. Incidunt, ab ipsa magnam odit quo sapiente sunt quos quas tempore? Aut, cumque cum!</p>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste, quod, ipsam eligendi vel accusantium sapiente magni modi error repellendus architecto aut quam soluta eum ipsum reiciendis voluptate ab, atque alias.
        Hic inventore, amet aspernatur, aliquam vero iure accusamus impedit temporibus rerum, aperiam voluptas ut tempore necessitatibus sit dolor molestias perferendis fugiat ab numquam id placeat saepe! Dolores et molestias voluptate.
        Eius harum officiis cumque! Asperiores ipsa dolor illum necessitatibus. Numquam repellendus adipisci alias dicta placeat explicabo inventore magnam! Eius, veniam omnis reprehenderit consectetur facilis dolorum! Animi minus odio neque inventore?
        Libero aperiam nemo doloremque porro iste consequuntur at ducimus eaque sunt voluptatum quos alias nisi ab facere, ut velit vitae tenetur assumenda ea! Corrupti quaerat, excepturi aperiam pariatur veniam labore.
        Fugiat, magni iste quis ipsa ducimus cum totam quas corporis quos omnis soluta vero, optio commodi. Incidunt, ab ipsa magnam odit quo sapiente sunt quos quas tempore? Aut, cumque cum!</p>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste, quod, ipsam eligendi vel accusantium sapiente magni modi error repellendus architecto aut quam soluta eum ipsum reiciendis voluptate ab, atque alias.
            Hic inventore, amet aspernatur, aliquam vero iure accusamus impedit temporibus rerum, aperiam voluptas ut tempore necessitatibus sit dolor molestias perferendis fugiat ab numquam id placeat saepe! Dolores et molestias voluptate.
            Eius harum officiis cumque! Asperiores ipsa dolor illum necessitatibus. Numquam repellendus adipisci alias dicta placeat explicabo inventore magnam! Eius, veniam omnis reprehenderit consectetur facilis dolorum! Animi minus odio neque inventore?
            Libero aperiam nemo doloremque porro iste consequuntur at ducimus eaque sunt voluptatum quos alias nisi ab facere, ut velit vitae tenetur assumenda ea! Corrupti quaerat, excepturi aperiam pariatur veniam labore.
            Fugiat, magni iste quis ipsa ducimus cum totam quas corporis quos omnis soluta vero, optio commodi. Incidunt, ab ipsa magnam odit quo sapiente sunt quos quas tempore? Aut, cumque cum!</p>

              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste, quod, ipsam eligendi vel accusantium sapiente magni modi error repellendus architecto aut quam soluta eum ipsum reiciendis voluptate ab, atque alias.
                Hic inventore, amet aspernatur, aliquam vero iure accusamus impedit temporibus rerum, aperiam voluptas ut tempore necessitatibus sit dolor molestias perferendis fugiat ab numquam id placeat saepe! Dolores et molestias voluptate.
                Eius harum officiis cumque! Asperiores ipsa dolor illum necessitatibus. Numquam repellendus adipisci alias dicta placeat explicabo inventore magnam! Eius, veniam omnis reprehenderit consectetur facilis dolorum! Animi minus odio neque inventore?
                Libero aperiam nemo doloremque porro iste consequuntur at ducimus eaque sunt voluptatum quos alias nisi ab facere, ut velit vitae tenetur assumenda ea! Corrupti quaerat, excepturi aperiam pariatur veniam labore.
                Fugiat, magni iste quis ipsa ducimus cum totam quas corporis quos omnis soluta vero, optio commodi. Incidunt, ab ipsa magnam odit quo sapiente sunt quos quas tempore? Aut, cumque cum!</p>    
    
</body>
</html>