<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ridify | Help</title>
    <link rel="stylesheet" href="/assets/homeStyle.css">
</head>
<body>
    <h1>Help</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam animi maxime corrupti tempora non rem, harum quibusdam eius tenetur sequi eaque eveniet dicta expedita cumque quisquam consequatur molestias a magni?
    Cupiditate facilis vitae cumque, beatae earum exercitationem veritatis nam ea distinctio reprehenderit expedita aperiam est blanditiis asperiores porro pariatur magnam rerum velit quibusdam ipsum veniam! Inventore amet beatae quo provident!
    Consequuntur, debitis temporibus, fuga inventore alias iste laborum exercitationem aliquam est ab, animi odit sequi dolorem ut porro molestias velit pariatur enim neque. Reprehenderit et odio culpa vitae, cum delectus!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa eos, fugiat quod reprehenderit commodi fugit. Velit molestiae pariatur dolorum odio! Omnis magnam distinctio nam numquam dolore non ad recusandae sapiente.</p>
    
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod odio dignissimos ipsam aspernatur accusantium deserunt! Sunt, distinctio accusamus eius ipsum laudantium aut nisi corporis porro, corrupti saepe accusantium ducimus praesentium!Porro autem magni maxime nam temporibus architecto quasi quis ipsum aspernatur, eligendi dolor minima dolores facere commodi dolorum tempora voluptatum, nemo molestiae at voluptas enim saepe deserunt? Voluptatibus, voluptatum debitis!</p>
</body>
</html>