<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ridify | Privacy</title>
    <link rel="stylesheet" href="/assets/homeStyle.css">
</head>
<body>
    <h1>Privacy&trade;</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed nihil, quisquam maxime ducimus praesentium possimus voluptate dolorem doloremque voluptates soluta aliquid quod earum quos expedita reiciendis ullam sapiente? Deserunt, delectus!
    Quia nulla commodi quidem nam id similique ipsam, ad culpa magni! Incidunt eos vitae repellat maxime soluta ab reiciendis. Magnam quam beatae quos dolor iure atque obcaecati repudiandae provident deserunt?
    Magni quam deleniti optio illum, maxime harum ullam minima nulla odio, nostrum autem, eum odit. Delectus saepe vero similique ea adipisci obcaecati praesentium unde labore odio nam. Commodi, nihil odit!
    Ullam, porro molestias, quis magni voluptates, ipsa adipisci mollitia quia tempore architecto accusamus praesentium. Error asperiores beatae eum labore a obcaecati. Ducimus eligendi quaerat porro nisi maiores saepe assumenda facere.
    Sapiente, voluptatibus voluptatem et dicta ullam itaque nihil consectetur alias, error officiis, repudiandae unde ipsam maiores impedit illo mollitia nemo! Ad earum exercitationem explicabo incidunt, hic officiis fugit repellat distinctio?
    Nulla quas quod, facilis aliquid veritatis quos corrupti soluta delectus at sit labore. Explicabo voluptatem numquam reprehenderit iure veniam facere corporis eveniet, quo natus quasi pariatur ipsam quam, eum id.
    Sequi aspernatur tempore et illum beatae ea delectus illo impedit laboriosam itaque alias voluptate nulla, non aperiam, asperiores, incidunt ex iusto? A, eveniet perspiciatis voluptatem debitis reprehenderit ea aliquid totam?
    Aliquid pariatur quam placeat et sed iusto esse facere nisi ducimus voluptatibus rem necessitatibus voluptas officia a iste rerum dolorem, laboriosam tempore aut amet, aspernatur fuga fugiat nobis? Ad, magnam.
    Explicabo eius dolore corporis doloribus harum, at laborum labore maxime provident autem deserunt ratione iusto obcaecati cum dolor, quas asperiores, culpa ipsam fugiat animi omnis assumenda facilis accusamus? Consequuntur, vitae?
    Quas perspiciatis, recusandae facilis accusantium similique numquam culpa cum laudantium dolor sapiente animi enim, nemo illo explicabo voluptatibus quis dolores et nesciunt! Repellendus obcaecati totam iure, nam ex quod dicta.</p>
</body>
</html>