<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ridify | Terms & Conditions</title>
    <link rel="stylesheet" href="/assets/homeStyle.css">
</head>
<body>
    <h1>Terms & Conditions</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta corrupti, laborum, animi nisi error explicabo numquam quam facere dignissimos reiciendis voluptate omnis unde. Vitae eum dolorem eaque nihil labore enim!
    Repellat eum facilis similique harum voluptatibus exercitationem tempore, est suscipit molestias repellendus dolore velit! Magnam odio, porro labore nulla quo voluptatum consectetur, magni deserunt repudiandae ipsa excepturi laboriosam dolor quas.
    Vitae culpa, atque tempore sed nemo recusandae reprehenderit, alias adipisci sint esse voluptates hic in maxime vel cupiditate amet necessitatibus temporibus exercitationem dicta eveniet suscipit accusamus. Odit adipisci consectetur at.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus possimus eligendi cupiditate, deleniti expedita sunt alias reprehenderit sed porro voluptates ut quae a corporis ea. Culpa neque inventore ea laudantium!</p>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet accusamus ipsum quam fugiat praesentium, voluptates autem blanditiis ratione excepturi molestiae incidunt, harum itaque ut est illo eaque at minima reprehenderit?
    Nesciunt maiores officia laboriosam quam reiciendis nihil distinctio harum rem, nobis qui alias. Pariatur quam nulla repellat architecto ut doloribus, eveniet voluptate sunt natus minus doloremque iste magnam alias. Iusto!
    Maiores doloremque dolorum harum. Qui dolores voluptate, tempore eaque excepturi id, et iste odio sint facilis non magni reprehenderit consequatur est alias nostrum ab blanditiis cumque at earum ullam obcaecati!
    Officia natus cupiditate blanditiis! Illo minima assumenda tenetur eveniet, numquam molestias aut nam nobis, rem sint voluptatum molestiae accusantium optio temporibus modi odit reprehenderit atque? Facilis sed ab laboriosam veritatis.
    Minima, cum? Beatae porro nobis illo doloribus necessitatibus atque autem nihil at, obcaecati consequatur, culpa accusantium ipsam unde aperiam, voluptatum deleniti? Sit explicabo soluta tempora odio? Ad similique harum corrupti.</p>
</body>
</html>